 <div class="container">
  <p class="title">Confirm Service</p>
  <hr class="g-brd-gray-light-v4 g-my-0">
  <div class="row ">
    <div class="col-lg-8 col-lg-offset-2 container">
      <div class="row">
        <div class="col-lg-6 right-brd">
       <div class="mrg-min flex">
         <div class="margin-top-ten">
           <img alt="Image Description" class="g-width-100 g-height-100 rounded-circle g-mb-20" src="../../assets/image/img4-100.jpg">
         </div>
         <div >
           <div class="c6 margin-bottom-twenty">
             <div>
               <span class="bold">Standard House Cleaning</span>
               <div>Entire Dimensions:</div>
             </div>
             <div class="margin-top-ten">
               <span>Maria V.</span>
               <div>Monday, October 30th at 3:00pm</div>
             </div>
             <div class="margin-top-ten">
               <a class="promo">Promo?</a>
               $150 (Total Price)
             </div>
           </div>
         </div>
       </div>
       <div>
         <div class="w7 line bold">Home Addres</div>
         <div class="w3 line bold">Apt #</div>
         <input type="text" class="w7 addres pd-seven" placeholder="Enter Adrres">
         <input type="text" class="w3 pd-seven" placeholder="Apt">
         <p class="mrg-min-top bold">Example textarea</p>
         <textarea class="pd-seven form-control form-control-md rounded-0" placeholder="Please leave ALL instructions for your provider here, including parking and entry instructions, areas requiring extra attention and items requiring special care." rows="5" style="margin-top: 0px; margin-bottom: 0px; height: 80px;"></textarea>
         <a class="mrg-min-top w10 btn btn-md u-btn-outline-primary g-mr-10 g-mb-15">Primary</a>
       </div>
     </div>
        <div class="mrg-min col-lg-6">
          <ul>
         <li>
           <span class="bold">Background Checked</span>
           <p>All providers on Hux undergo federal and county background checks</p>
         </li>

         <li>
           <span class="bold">Bonded & Insured</span>
           <p>All services booked through Hux are bonded and insured</p>
         </li>

         <li>
           <span class="bold">Interviewed by Hux</span>
           <p>Only 6% of applicants pass our vetting process</p>
         </li>

         <li>
           <span class="bold">Supplies Supplied</span>
           <p>Hux providers will bring all necessary supplies</p>
         </li>

         <li>
           <span class="bold">Cancel / Reschedule Online</span>
           <p>Free 48 hrs before appointment, $25 otherwise</p>
         </li>

         <li>
           <span class="bold">Parking</span>
           <p>You are responsible for parking fees — reimburse with cash or use the tip feature.</p>
         </li>
       </ul>
        </div>
      </div>
  </div>
  </div>
</div>