<div class="flex">
  <div id="share">
    <div id="share-graphic">
    </div>
    <h3>Refer a friend and you each get $10.</h3>
    <p class="help-text">With your unique code, your friends will receive $10 off their first service and you will receive $10 of credit!</p>
    <div class="help-text">
      Your code: <b>533BEN</b><br>
      Available Credit: $0.00
    </div>

    <div class="form-group">
      <b>Share URL</b>
      <div class="duo">
        <input type="text" id="share-code" class="text" placeholder="hux.com/share/533BEN">
        <button class="btn active btn-copy">Copy</button>
      </div>
    </div>

    <div class="form-group btn-column">
      <h4>Facebook</h4>
      <button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12" role="button" type="submit">Post to Facebook</button>
      <button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12" role="button" type="submit">Send via messenger</button>
    </div>
  </div>
  <div class="invite">
    <h4>You have bonus code ?</h4>
    <p>Write your bonus code and get 10$</p>
    <input type="text" class="bonuscode" placeholder="Bonus code">
  </div>
</div>