$primary-color:#006e44;

.btn-started{
  border-radius: 50px;
  border-color:white;
  &:hover{
    border-color:$primary-color;
    background-color:$primary-color !important;
    color:white !important;
  }
}

.border-green{
    border:1px solid #72c02c;
  }


.g-bg-secondary{
  background-color:white !important;
}

.u-heading-v2-3--bottom{
  &:after{
    width:3rem;
  }
}

.mrg-after-button{
  margin: 10px 20px;
}

.pdg-top{
  padding-top:0 !important;
}