<div class="container">
  <div class="row">
    <div class="paid col-lg-8">
      <h3>Get Paid Now</h3>
      <div class="payment">
        <p>Payment Method</p>
        <select class="form-control form-control-md form-control-lg rounded-0">
          <option value="2">Visa</option>
          <option value="1">Mastercard</option>
        </select>
      </div>
      <div class="amount">
        <p>Amount</p>
        <div class="amount-select">
          <label class="form-check-label">
            <input class="form-check-input mr-1" type="radio" name="exampleRadios" id="radioSuccess"> Available Balance: $100
          </label>
          <label class="form-check-label">
            <input class="form-check-input mr-1" type="radio" name="exampleRadios" > A partial amount...
          </label>
        </div>
      </div>
      <div class="service-payment">
        <p>Servicmean Fee</p>
        <div class="per-payment">
          <p>$5 per payment</p>
          <small>Other bank Fees may apply</small>
        </div>
      </div>
      <div class="get-paid">
         <a href="#" class="btn btn-xl u-btn-primary u-btn-hover-v1-1 g-mr-10 g-mb-15">Get Paid Now</a>
      </div>
    </div>
  </div>
</div>